// Colors

$black: #000000;
$dark-gray: #5a5a5a;
$gray: #8f8f8f;
$light-gray: #ababab;
$very-dark-blue: #003663;
$dark-moderate-blue: #384e7a;
$blue: #0000ab;
$lighter-blue: #0072bc;
$white: #ffffff;

// Font Sizes

$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.625rem;

// Other

$nav-height: 4.5rem;
